<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- base_link to base_imu_link -->
	<node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="-0.095 -0.010 0.035 0 0 0 1 base_link base_imu_link 100"/>
	<!-- base_link to velodyne -->
	<node pkg="tf" type="static_transform_publisher" name="velodyne_link_broadcaster" args="0.035 0 0.415 0 0 0 1 base_link velodyne 100"/>
</launch>
