<?xml version="1.0" encoding="utf-8"?>
<launch>
  <node name="icp_mapping" pkg="point_cloud" type="icp_mapping" output="screen" clear_params="true" required="true"></node>
  <node name="obstacle_cluster" pkg="point_cloud" type="obstacle_cluster"  clear_params="true" required="true"></node>
</launch>
